<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Jabit{% endblock title %}</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    {% block styles %}{% endblock styles %}
    <script>
        window.App = {
            'routes': {
                'register.index': "{{ url_for('register.index') }}",
                'register.store': "{{ url_for('register.store') }}",
                'login.index': "{{ url_for('login.index') }}",
                'login.store': "{{ url_for('login.store') }}",
                'reminders.index': "{{ url_for('reminders.index') }}",
                'api.reminders.store': "{{ url_for('api.reminders.store') }}",
                'api.reminders.put': "{{ url_for('api.reminders.get') }}",
                'api.reminders.get': "{{ url_for('api.reminders.get') }}",
                'api.reminders.archive': "{{ url_for('api.reminders.get') }}",
            },
        };
    </script>
</head>

<body class="bg-gray-200">
    <div id="app">
        {% block content %}{% endblock %}
    </div>
    <script src="/js/app.js"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>